/*Large Styles*/
body {
    margin: 0px;
    font-family: Roboto Slab;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
}

/*Nav Styles*/
.nav-wrapper {
    background-color: #0f1a1f;
    display: flex;
    justify-content: space-between;
    padding: 38.5px;
}

.left-side{
    display: flex;

}

.nav-wrapper > .left-side > div {
    margin-right: 20px;
    font-size: 0.9em;
    text-transform: uppercase;
}

.nav-link-wrapper {
    height: 22px;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s;
}

.nav-link-wrapper a {
    color: #386575;
    text-decoration: none;
    transition: color 0.5s;
}

.nav-link-wrapper:hover {
    border-bottom: 1px solid #386575;
}

.nav-link-wrapper a:hover {
    color: #386575;
}

.brand {
    color: #386575;
}

/*Portfolio Styles*/
.portfolio-items-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.portfolio-item-wrapper {
    position: relative;
}

.intro-img-background {
    height: 850px;
    width: 100%;
    z-index: 1;
}
.portfolio-img-background {
    height: 950px;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.img-text-wrapper {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
    padding-left: 100px;
    padding-right: 100px;
}

.logo-wrapper img {
    width: 100%;
    margin-bottom: 20px;
    transition: 1s;
    opacity: 0;
}

.logo-wrapper:hover img {
    opacity: 100;
}

.img-text-wrapper .subtitle {
    transition: 1s;
    font-weight: 600;
    color: transparent;
}

.img-text-wrapper:hover .subtitle {
    font-weight: 600;
    color: #386575;
}

.img-darken {
    transition: 1s;
    filter: brightness(10%);
}
::-webkit-scrollbar {
    width: 10px;
  }
  
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

  .intro-text {
      position: absolute;
      font-size: 80px;
      left: 527px;
      top: 40%;
      color: #386575;
      z-index: 2;
      text-shadow: 0px 3px 5px #213B45;
  }
.pallet {
    color: #1A2E36;
    color: #67848F;
    color: #386575;
    color: #389DC2;
    color: #213B45;
}
